.imgModel {
  width: 100%;
  height: 250px;
}
.imgContent img {
  width: 100%;
  height: 230px;
}
.cModel {
  margin-bottom: 20px;
  height: 420px;
}
.bttn {
  padding-top: 20px;
}
.card-title {
  color: #f6755e !important;
}
